@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&display=swap');

p,h1,h3,h4,ul{
    color: black;
}

footer{
    background-color: darkred
}

.White {
    color: White;
}

.Hero {
    background-image: url("images/hero.jpg");
}

p,ul{
    font-family: 'Lato', sans-serif;
}

h1,h3,h4{
    font-family: 'PT Sans Narrow', sans-serif;
}

h1,h3,h4{
    text-align: center;
}

.div_row{
    display: flex;
    flex-wrap: wrap;
}

.flex_par{
    flex: 500px;
}

#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#favorite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#song{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flex_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

body{
    margin:0px;
}

.hero-title{
    padding: 100px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.text_1{
    margin:20px;
}

a{
    outline: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a:link {
    color: indigo;
}

a:visited {
    color: indigo;
}

a:focus {
    color: white;
    background-color: indigo;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: #404040;
    background-color: white;
}